<h1>ingredients#show</h1>
<p>Find me in app/views/ingredients/show.html.erb</p>

<%= @ingredient.name %>

<%= link_to "Home", ingredients_path %>
<%= link_to "Edit", edit_ingredient_path(@ingredient) %>
